.container
  = render partial: 'shared/navbar_ui'
  .row
    .col-xs-7.col-xs-offset-2 
      -@questions.each do |question|
        .row
          .col-xs-12
            - if question.category.present?
              %span.badge 
                = question.category.name
            = link_to question_path(question) do
              %h3.question-title
                = question.title
            = link_to vote_question_path(question, vote: true), method: 'post' do
              %button.btn.btn-default.upvote 
                Upvote | #{question.total_votes} 
            = link_to vote_question_path(question, vote: false), method: 'post' do
              %small.downvote Downvote
            %small.pull-right
              by 
              %strong #{question.user.username} 
              at #{question.created_at.strftime("%b %d, %Y")}
            %p.most-relevant-answer
              = simple_format(question.most_relevant_answer.description.truncate(400)) if question.most_relevant_answer
  = render partial: 'shared/footer'
