.container
  =render 'shared/navbar_ui'
  .row
    .col-xs-7.col-xs-offset-2 
      %h3.title
        = @question.title
      %p
        = @question.description
      = link_to vote_question_path(@question, vote: true), method: 'post' do
        %button.btn.btn-default.upvote 
          Upvote | #{@question.total_votes} 
      = link_to vote_question_path(@question, vote: false), method: 'post' do    
        %small.downvote Downvote
      %small.pull-right
        =@question.created_at.strftime("%b %d, %Y")
      %hr.question-separation
      %h4 
        = @question.answers.size
        Answers
      %hr
      .well
        %p.contributor-name 
          = current_user.username
        = form_for([@question, @question.answers.build]) do |f|  
          .form-group
            = f.text_area :description, class: 'form-control', placeholder: 'Write your answer', rows: '3' 
            %p.help-block Be constructive and do not insult other people :)
          = f.submit 'Write Answer', class: 'btn btn-default write-answer ' 

      - @question.answers.reload.each do |answer|
        %hr
        %p.contributor-name
          =answer.user.username
        %p
          = simple_format(answer.description)
        = link_to vote_question_answer_path(answer, question_id: @question.id, vote: true), method: 'post' do
          %button.btn.btn-default.upvote 
            Upvote | #{answer.total_votes}
        = link_to vote_question_answer_path(answer, question_id: @question.id, vote: false), method: 'post' do    
          %small.downvote Downvote
        %small.pull-right 
          by 
          %strong #{answer.user.username} 
          at #{answer.created_at.strftime("%b %d, %Y")}
  = render partial: 'shared/footer'
